html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* sidebar */
.sidebar {
  left: 0;
  top: 0;
  position: fixed;
  width: 8rem;
  height: 100vh;
  background-color: #eee;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.hamburger {
  margin-top: 3rem;
  cursor: pointer;
  position: relative;
}

.line {
  height: 0.2rem;
  width: 2.5rem;
  background-color: #222;
  margin-bottom: 0.6rem;
}

.line-1,
.line-3 {
  width: 1.8rem;
}

.hamburger:hover .line {
  width: 2.5rem;
  transition: all 0.2s;
}

.social-icons-list {
  list-style: none;
  padding: 0;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.social-icon {
  font-size: 2rem;
  color: #777;
}

.social-icon:hover {
  color: #000;
  transform: scale(2, 2);
  transition: all 0.2s;
}

.year {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #555;
}

/* end sidebar */

/* navigation */

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  left: -32rem;
  height: 100vh;
  top: 0;
  background: linear-gradient(
      to top,
      rgba(34, 42, 41, 1),
      rgba(34, 42, 41, 0.7)
    ),
    url(./images/background-1.jpg) center no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 3;
}

.search-bar {
  position: relative;
  margin-top: 2rem;
}

.navigation-search-bar {
  width: 28rem;
  background-color: #777;
  color: black;
  line-height: 3rem;
  border-radius: 10rem;
  letter-spacing: 0.1rem;
  font-family: "Work Sans", sans-serif;
  outline: none;
  border: none;
  padding: 0.5rem;
  align-items: center;
  padding-left: 2rem;
}

.search-icon-btn {
  color: rgb(253, 251, 251);
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.navigation-search-bar:hover {
  background-color: goldenrod;
  transition: background-color 0.5s;
}

.navigation-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 30rem;
  align-items: center;
  justify-content: space-between;
}

.navigation-item {
  margin: 1rem;
}
.navigation-link {
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
  text-decoration: none;
  color: linen;
}

.navigation-item:hover {
  color: goldenrod;
  transform: scale(1.2, 1.2);
  transition: all 0.3s;
}

.copyright {
  font-size: 1.3rem;
  color: goldenrod;
}

.checkbox:checked ~ .navigation {
  left: 8rem;
  transition: left 0.3s;
}

.checkbox:checked ~ .sidebar .line-2 {
  opacity: 0;
}

.checkbox:checked ~ .sidebar .line-1{
    /* transform: rotate(-90deg) translate(-11.5px, 5px); */
    transform: rotate(45deg) translate(0px, 5px);
    position: absolute;
}

.checkbox:checked ~ .sidebar .line-3{
    /* transform: rotate(-180deg) translate(-3.5px, -5px); */
    transform: rotate(-45deg) translate(0px, -5px);
position: absolute;
} 

.hamburger {
  position: relative;
}

/* end navigation */

/* header */
.header {
  /* height: 100vh; */
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6),
      rgba(126, 122, 122, 0.726)
    ),
    url(./images/background-3) center no-repeat;
  background-size: cover;
  margin-left: 8rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 2.5rem;
  color: cornsilk;
  letter-spacing: 0.2rem;
  height: 65rem;
}

.banner .banner-heading {
  margin: 0;
  padding: 0;
  font-weight: 400;
  animation: anim 2s;
}

.banner .banner-paragraph {
  animation: anim 1.5s 0.5s backwards;
}

.banner .banner-button {
  background: linear-gradient(to right, gold, goldenrod);
  font-size: 2rem;
  width: 25rem;
  outline: none;
  border: none;
  border-radius: 10rem;
  padding: 2rem 3rem;
  animation: anim 1s 1s backwards;
}

.banner-button:hover {
  background: linear-gradient(to right, goldenrod, gold);
}

@keyframes anim {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/* end header */

/* about us */
.about-us {
  margin-left: 8rem;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right, rgb(130, 131, 130), #eee);
}

.underline {
  width: 70vh;
  height: 0.2rem;
  background-color: rgb(223, 208, 208);
}

.about-us-heading {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #555;
}

.about-us-paragraph {
  font-size: 2rem;
  max-width: 85vh;
  font-style: italic;
}

.about-us-pics-wrapper {
  position: relative;
}
.about-us-pics-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-us-pic img {
  width: 20rem;
  border: solid 1px rgb(0, 0, 0);
  z-index: 5;
}

.about-us-pic:hover {
  transform: scale(1.5, 1.5);
  transition: 1s;
  z-index: 10;
}

.about-us-btn {
  background: none;
  color: rgb(0, 0, 0);
  border: solid 2px rgb(0, 0, 0);
  padding: 1.5rem 2rem;
}

.about-us-btn:hover {
  background: rgb(0, 0, 0);
  color: rgb(221, 215, 215);
  padding: 1.5rem 2rem;
  letter-spacing: 0.2rem;
  transition: 1s;
}
/* end about us */

/* routes */

.routes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Work Sans", sans-serif;
  /* height: 100vh; */
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6),
      rgba(126, 122, 122, 0.726)
    ),
    url(./images/background-2.jpg) center no-repeat;
  background-size: cover;
  margin-left: 8rem;
}
.routes-heading {
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: cornsilk;
}
.routes-paragraph {
  font-size: 2rem;
  max-width: 85vh;
  font-style: italic;
  color: cornsilk;
}

.routes-img-section {
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
}

.routes-card {
  width: 25rem;
  border: solid gold 2px;
  background: #eee;
  margin: 3rem;
}

.routes-card img {
  max-width: 25rem;
}

.routes-card-header {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-style: italic;
  text-align: center;
}

.routes-card-content {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: mediumblue;
  padding: 1rem;
}
/* end routes */

/* members */
.members {
  background: black;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 8rem;
}

.underline {
  width: 70vh;
  height: 0.2rem;
  background-color: rgb(223, 208, 208);
  margin: 0 auto 1rem auto;
}

.members-heading {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.members-paragraph {
  font-size: 1.3rem;
  width: 120vh;
  font-style: italic;
  color: rgb(255, 255, 255);
}

.members-paragraph-img {
  transform: rotate(90deg);
  width: 10rem;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  float: left;
  margin: 1rem;
}

.member-card-section {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.member-card {
  padding: 0;
  width: 30rem;
  background: rgb(245, 245, 245);
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.member-img img {
  /* transform: rotate(90deg); */
  width: 10rem;
}

.member-card-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.member-card-heading {
  color: rgb(50, 59, 59);
  font-size: 1.5rem;
}

.member-card-content {
  color: rgb(8, 121, 55);
  font-size: 1.4rem;
  font-style: italic;
}
/* end members */

/* footer */
.footer {
  background: linear-gradient(
      to top,
      rgba(71, 65, 65, 1),
      rgba(71, 65, 20, 0.7)
    ),
    url(./images/footer.jpg) bottom no-repeat;
  margin-left: 8rem;
}

.main-part {
  display: flex;
  justify-content: space-around;
  padding: 4rem;
}

.footer-heading {
  font-size: 2.5rem;
  font-weight: 300;
  color: goldenrod;
  margin: 1rem 0 3rem 0;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list-item {
  margin-bottom: 2rem;
}

.footer-list-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #bbb;
}

.contact {
  font-size: 1.5rem;
  color: #bbb;
  margin-bottom: 4rem;
}

.footer-form {
  display: flex;
}

.footer-input {
  width: 25rem;
  padding: 1rem;
  font-family: "Josefin Sans" sans-serif;
  font-size: 1.8rem;
  color: #444;
  outline: none;
}

.footer-btn {
  padding: 1rem;
  background-color: #b85d1c;
  outline: none;
  color: #ddd;
}

/* end footer */

@media (max-width: 1024px) {

  .member-card-section{
    flex-direction: column;
  }
  .footer-input{
    font-size: 1.5rem;
  }
}

@media(max-width: 768px){
  .underline{
    display: none;
  }
.about-us{
  padding-bottom: 5rem;
}
 .routes-paragraph{
   padding: 5rem;
 }
  .routes-img-section{
    flex-direction: column;
  }
  .about-us-paragraph{
    padding: 5rem;
  }
  .about-us-pics-gallery{
    flex-direction: column;
  }
}

.footer-list-item{
  flex-direction: columm;
}

.main-part{
  flex-direction: column;
}

@media(max-width:667px){
  
  .banner-heading{
    font-size: 3rem;
  }

  .heading-paragraph{
    font-size: 2.5rem;
  }

}

@media(max-width:375px){
  .navigation{
    width:20rem;
  }
  .navigation-search-bar{
    width: 18rem;
  }

  .navigation-link{
    font-size: 2rem;
  }
  .header{
    /* height: 100%; */
  }
  .banner-heading{
    font-size: 2rem;
    flex-wrap: wrap;
  }
  .banner-paragraph{
    font-size: 1.25rem;
  }
  .banner-button{
    font-size: 1rem;
    padding: 1rem;
  }

  .about-us{
    /* height: 100%; */
  }

  .routes{
/* height: 100%; */
  }

  .routes-card{
    width: 20rem;
  }

  .routes-card-img img{
    width: 20rem;
  }

  .members{
/* height: 100%; */
padding:.3rem;
  }

  .members-heading{
    flex-wrap: wrap;
  }
  .members-paragraph{
    padding:.5rem;
    flex-wrap: wrap;
    width:18rem;
  }

  .member-card-section{
    width:auto;
    padding: .5rem;
  }
  .member-card{
    flex-direction: column;
    margin:1rem;
  }

  .footer-input{
    width: 50%;
  }
}