html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* sidebar */
.sidebar {
    left:0;
    top:0;
position: fixed;
  width: 8rem;
  height: 100vh;
  background-color:#eee;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.hamburger{
    margin-top: 3rem;
    cursor: pointer;
    position: relative;
}

.line {
  height: 0.2rem;
  width: 2.5rem;
  background-color: #222;
  margin-bottom: .6rem;
}

.line-1, .line-3{
    width:1.8rem;
}

.hamburger:hover .line{
    width:2.5rem;
    transition:all .2s;
}


.social-icons-list {
  list-style: none;
  padding:0;
  height:15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.social-icon{
    font-size: 2rem;
    color: #777;
}

.social-icon:hover{
    color:#000;
    transform: scale(2,2);
    transition: all .2s;
}

.year{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #555;
}


/* end sidebar */

/* navigation */

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:40rem;
    left:-32rem;
    height: 100vh;
  top:0;
    background: linear-gradient(to top, rgba(34,42, 41,1), rgba(34,42,41,.7)),url(./images/background-1.jpg) center no-repeat;
    background-size: cover;
    position:fixed;
    
}

.search-bar{
    position: relative;
    margin-top: 2rem;
}

.navigation-search-bar{
    width:28rem;
    background-color:#777;
    color:black;
    line-height: 3rem;
    border-radius: 10rem;
    letter-spacing: .1rem;
    font-family: 'Work Sans', sans-serif;
    outline: none;
    border: none;
    padding:.5rem;
    align-items:center;
    padding-left: 2rem;
}

.search-icon-btn{
    color: rgb(253, 251, 251);
    font-size: 2rem;
    position: absolute;
    right:1rem;
    top:1rem;
}

.navigation-search-bar:hover{
    background-color: goldenrod;
    transition: background-color .5s
}

.navigation-list{
    padding:0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height:30rem;
    align-items: center;
    justify-content: space-between;
}

.navigation-item{
    margin: 1rem;
}
.navigation-link{
    font-family: 'Work Sans',sans-serif;
    font-size: 3rem;
    text-decoration: none;
    color: linen;
}

.navigation-item:hover{
color:goldenrod;
transform: scale(1.2,1.2);
transition: all .3s;
}

.copyright{
    font-size: 1.3rem;
    color: goldenrod;
}

.checkbox:checked ~ .navigation{
    left:8rem;
    transition: left .3s;
}

.checkbox:checked ~ .sidebar .line-2{
    opacity: 0;
} 

/* .checkbox:checked ~ .sidebar .line-1{
    transform: rotate(-90deg) translate(-11.5px, 5px);
    position: absolute;
}

.checkbox:checked ~ .sidebar .line-3{
    transform: rotate(-180deg) translate(-3.5px, -5px);
position: absolute;
}  */

.hamburger{
    position:relative;
}


/* end navigation */


/* header */
.header{
    height:100vh;
    background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.7)),url(./images/background-3) center no-repeat;
    background-size: cover;
    margin-left:8rem;
}



.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5rem;
    color: cornsilk;
    letter-spacing: .2rem;
    height: 65rem;
}

.banner .banner-heading{
    margin:0;
    padding:0;
    font-weight: 400;
    animation: anim 2s;
}

.banner .banner-paragraph{
    animation: anim 1.5s .5s backwards;
}

.banner .banner-button{
    background: linear-gradient(to right,gold,goldenrod);
    font-size: 2rem;
    width:25rem;
    outline: none;
    border: none;
    border-radius: 10rem;
    padding: 2rem 3rem;
    animation: anim 1s 1s backwards;
}

.banner-button:hover{
    background: linear-gradient(to right,goldenrod,gold);
}

@keyframes anim{
    0%{
        opacity:0%;
    }
    100%{
        opacity: 100%;
    }
}
/* end header */

/* about us */
.about-us{
    padding: 5rem;
    margin-left:8rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
}

.underline{
    width:70vh;
    height: .2rem;
    background-color: #555;
    margin: 0 auto 1rem auto;
}

.about-us-heading{
font-family: 'Poppins', sans-serif;
font-size: 4rem;
font-weight: 300;
letter-spacing: 2px;
text-transform: uppercase;
color: #555;
}

.about-us-paragraph{
font-size: 2rem;
max-width: 85vh;
font-style: italic;
}

.about-us-pics-gallery{
    height:100vh;
    margin: 3rem;
    display:flex;
    flex-direction: row;
    position: relative;
    align-items: center
    
}
.about-us-pic img{
    width:25rem;
    border: solid 1px darkgoldenrod;
    position: absolute;
    top:-50px;
    z-index:5;
}

/* .about-us-pic-1 img{
    transform: translate(10%,0%);
} */
/* .about-us-pic-2 img{
    transform: translate(0%,120%);
}
.about-us-pic-3 img{
    transform: translate(-30%,100%);
} */
.about-us-pic-4 img{
    transform: translate(20%,50%);
}
.about-us-pic-5 img{
    transform: translate(-50%,70%);
}
.about-us-pic-6 img{
    transform: translate(-120%,90%);
}


.about-us-pic:hover{
    transform:scale(1.2,1.2);
    transition: 1s;
    z-index:10;
}

.about-us-btn{
    background: none;
    color: darkgoldenrod;
    border: solid 2px darkgoldenrod;
    padding:1.5rem 2rem;
    margin: 25rem auto;
}

.about-us-btn:hover{
    background: darkgoldenrod;
    color: #555;
    padding:1.5rem 2rem;
    letter-spacing: .2rem;
    transition: 1s;
}
/* end about us */